<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f65e2121-45c4-4666-a78f-29af5ef92467" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f65e2121-45c4-4666-a78f-29af5ef92467fileName">TestSuite-2</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>